@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;800&display=swap');

/* Definindo padrões de cores */
:root {
  --cor-texto: #e5e5e5;
  --cor-fundo: #141414;
  --cor-links: #fca311;
  --cor-sombra: #e5e5e50e;
  --cor-fundo-caixas: #14213d;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Cabeçalho Menu (links) */
.container-cabecalho {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.container-cabecalho-menu {
  background: var(--cor-fundo);
  height: 50px;
}

.ul-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  height: 100%;
  margin-right: 13.5%;
  margin-top: 0px;
}

.li-menu {
  list-style: none;
  padding-left: 2%;
}

.li-menu a {
  color: var(--cor-links);
  text-decoration: none;
  font-size: 0.95em;
  font-weight: 600;
}

.li-menu a:hover {
  color: var(--cor-texto);
  transition: 0.3s;
}

/* Cabeçalho Título - Descrição e Foto */
.cabecalho-imagem-fundo {
  background-size: cover;
  background-repeat: no-repeat;
  width: 664px;
}

.container-cabecalho-titulo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 574px;
  background-image: url('../img/background-2400.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--cor-fundo);
}

.cabecalho-titulo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 528px;
  margin-right: 80px;
  height: auto;
}

.titulo,
.subtitulo,
.subtitulo2,
.subtitulo3 {
  color: var(--cor-texto);
}

.titulo {
  font-size: 4em;
  font-weight: 800;
}

.subtitulo {
  font-size: 2.3em;
  padding-bottom: 15px;
}

.subtitulo2,
.subtitulo3 {
  font-size: 1em;
  font-weight: 400;
  word-wrap: break-word;
  text-align: left;
  padding-bottom: 15px;
}

.subtitulo3 {
  line-height: 150%;
  text-align: justify;
}

.cabecalho-foto-perfil {
  width: 250px;
}

.foto-perfil {
  width: 100%;
  border-radius: 10px;
  box-shadow: 3px 2px 5px 0px var(--cor-sombra);
}

.cabecalho-links .links {
  padding-right: 23px;
}

.cabecalho-links .links:nth-child(4) {
  padding: 0px;
}

.links {
  color: var(--cor-links);
  text-decoration: none;
}

.links:hover {
  color: #3366d6;
  transition: 0.3s;
}

/* Corpo da Página - Habilidades */
.container-corpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--cor-fundo);
  height: 628px;
  /* border-top: 3px solid #e5e5e5; */
}

.corpo-titulo span {
  display: flex;
  width: 100%;
  font-size: 2em;
  font-weight: 500;
  color: var(--cor-texto);
  padding-top: 70px;
}

.corpo-habilidades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 30px;
  width: 88%;
}

.corpo-habilidades .svg {
  width: 55px;
}

.corpo-habilidades span {
  color: var(--cor-texto);
  font-size: 1em;
  margin-top: 32px;
}

.habilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  width: 160px;
  height: 152px;
  background: var(--cor-fundo-caixas);
  border-radius: 10px;
  margin: 15px;
  box-shadow: 3px 2px 5px 0px var(--cor-sombra);
}

/* Carousel Imagens Projeto */
.carousel {
  width: 800px;
  padding-top: 30px;
}

.carousel-caption {
  background: var(--cor-fundo);
  border-radius: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: url(../img/SVG/previous.svg);
  background: var(--cor-links);
  border-radius: 100%;
}

.container-imagem-svg {
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel-titulo-imagem {
  color: var(--cor-texto);
}

.carousel-imagem-svg-github,
.carousel-imagem-svg-browser {
  width: 30px;
  height: auto;
  margin: 0px 22px;
}

/* Corpo da Página - Sobre Mim */

.container-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.texto-sobre-mim {
  width: 73%;
  color: var(--cor-texto);
  text-align: justify;
  padding-top: 30px;
  text-indent: 3em;
}