@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;800&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Cabeçalho Menu (links) */

.container-cabecalho-menu {
  background: #141414;
  height: 70px;
}

.ul-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  height: 100%;
  margin-right: 5%;
}

.li-menu {
  list-style: none;
}

.li-menu a {
  color: #fca311;
  text-decoration: none;
  padding-left: 1.4rem;
  font-weight: 600;
}

/* Cabeçalho Título - Descrição e Foto */

.cabecalho-imagem-fundo {
  background-size: cover;
  background-repeat: no-repeat;
  width: 664px;
}

.container-cabecalho-titulo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 566px;
  background-image: url('../img/background.jpg')
}

.cabecalho-titulo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 45%;
  margin-right: 50px;
}

.titulo,
.subtitulo,
.subtitulo2,
.subtitulo3 {
  color: #fff;
}

.titulo {
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 15px;
}

.subtitulo {
  font-size: 2rem;
  padding-bottom: 15px;
}

.subtitulo2, 
.subtitulo3 {
  font-size: 0.5;
  font-weight: 500;
  word-wrap: break-word;
  text-align: left;
  padding-bottom: 15px;
}

.subtitulo3 {
  line-height: 150%;
}

.cabecalho-foto-perfil {
  width: 250px;
}

.foto-perfil {
  width: 100%;
  border-radius: 35px;
  /* margin: 0px 100px; */
}

/* Corpo da Página - Habilidades */

.container-corpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #141414;
  height: 664px;
}

.corpo-titulo span {
  display: flex;
  width: 100%;
  margin-bottom: 77px;
  font-size: 55px;
  font-weight: 500;
  color: #E5E5E5;
}

.corpo-habilidades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.corpo-habilidades .svg {
  width: 117px;
}

.corpo-habilidades span {
  color: #fff;
  font-size: 30px;
  margin-top: 32px;
}

.habilidades-html,
.habilidades-css,
.habilidades-javascript,
.habilidades-react,
.habilidades-bootstrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  width: 240px;
  height: 252px;
  background: #14213D;
  border-radius: 31px;
  margin-right: 91px;
}


