@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Cabeçalho Menu (links) */
.container-cabecalho-menu {
  background: #141414;
  height: 70px;
}

.ul-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  height: 100%;
  margin-right: 5%;
  margin-top: 0px;
}

.li-menu {
  list-style: none;
}

.li-menu a {
  color: #fca311;
  text-decoration: none;
  padding-left: 1.4em;
  font-weight: 600;
}

.li-menu a:hover {
  color: #fff;
}

/* Cabeçalho Título - Descrição e Foto */
.cabecalho-imagem-fundo {
  background-size: cover;
  background-repeat: no-repeat;
  width: 664px;
}

.container-cabecalho-titulo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 566px;
  background-image: url('../img/background-2400.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #141414;
}

.cabecalho-titulo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 41.8%;
  margin-right: 75px;
}

.titulo,
.subtitulo,
.subtitulo2,
.subtitulo3 {
  color: #fff;
}

.titulo {
  font-size: 4em;
  font-weight: 800;
}

.subtitulo {
  font-size: 2.3em;
  padding-bottom: 15px;
}

.subtitulo2,
.subtitulo3 {
  font-size: 0.9em;
  font-weight: 400;
  word-wrap: break-word;
  text-align: left;
  padding-bottom: 15px;
}

.subtitulo3 {
  line-height: 150%;
  text-align: justify;
}

.cabecalho-foto-perfil {
  width: 250px;
}

.foto-perfil {
  width: 100%;
  border-radius: 10px;
  box-shadow: 3px 2px 5px 0px #e5e5e50e;
}

/* Corpo da Página - Habilidades */
.container-corpo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #141414;
  height: 664px;
  border-top: 3px solid #e5e5e5;
}

.corpo-titulo {
  margin: 70px 0px;
}

.corpo-titulo span {
  display: flex;
  width: 100%;
  font-size: 2em;
  font-weight: 500;
  color: #e5e5e5;
}

.corpo-habilidades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.corpo-habilidades .svg {
  width: 55px;
}

.corpo-habilidades span {
  color: #fff;
  font-size: 1em;
  margin-top: 32px;
}

.habilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  width: 160px;
  height: 152px;
  background: #14213d;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 3px 2px 5px 0px #e5e5e50e;
}

/* Carousel Imagens Projeto */
.carousel {
  width: 74%;
}

.carousel-caption {
  background: #14213d;
  border-radius: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: url(../img/SVG/previous.svg);
  background: #fca311;
  border-radius: 100%;
}

.container-imagem-svg {
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel-titulo-imagem {
  color: #fff;
}

.carousel-imagem-svg-github,
.carousel-imagem-svg-browser {
  width: 30px;
  height: auto;
  margin: 0px 22px;
}

/* Corpo da Página - Sobre Mim */

.texto-sobre-mim {
  color: #fff;
}