
.container__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: greenyellow;
}

.menu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 1em;
}

.menu a {
  text-decoration: none;
  list-style-type: none;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}