.container_cabecalho {
}

.container_corpo {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 20px;
}

.foto {
  margin: auto;
  width: 200px;
}

.foto img {
  width: 100%;
  border-radius: 8px;
}

.projetos {
  grid-column: 2;
}